.Product {
    border: 1px solid black;
    margin-bottom: 5px;
    padding: 0 5px 0 5px;
}

.ProductSetBookmark {
    border: 1px solid black;
    margin-bottom: 5px;
    padding: 0 5px 0 5px;
    background-color: yellow;
}